.email-message__container{
    display: block;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    overflow: auto;
}

.email-message__title{
    padding: 0.5rem;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
}

.email-message__item{
    display: flex;
    padding: 0.5rem;
}

.email-message__subitem{
    font-weight: 700;
    padding-right: 10px;
}

.email-message__body{
    text-align: justify;
    text-justify: inter-word;
    padding-top: 50px;    
}

.email-message__date{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}